body {
  margin: 0;
  padding: 0;
  background-image: url(img.jpg);
  background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: block;
  background-color: #191970;
}
.row {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 90px;
}
.logo-img {
  height: 50px;
  width: 50px;
}
.menu {
  display: flex;
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}
.menu-item {
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  color: #87cefa;
}
.banner {
  width: 100%;
  background-size: cover;
  height: 500px;
}
.banner-btn {
  border-color: none;
  background-color: none;
  text-align: center;
  color: #000;
  font-size: 60px;
  margin-top: 200px;
  margin-left: 90px;
}
.heading {
  background-color: #191970;
  margin-top: 7rem;
  font-size: 35px;
  text-align: center;
  color: #87cefa;
}
.text {
  text-align: center;
  font-size: 20px;
  line-height: 2rem;
}
.proj {
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
.exper:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.a {
  text-align: center;
  font-size: large;
}
.footer {
  background-color: lightgray;
  text-align: center;
}
